# See https://help.github.com/ignore-files/ for more about ignoring files.

#------------------------------------
# local env files
.env*.local

#------------------------------------
# dependencies
/node_modules
/.pnp
/.pnp.js

#------------------------------------
# testing
/coverage

#------------------------------------
# production
/build

#------------------------------------
# debug

/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/testem.log*

#------------------------------------
# Visual Studio Files and directories

*.suo        # 'user' settings like 'which file is open in Visual Studio'
*.ncb        # Used for debugging
*.user
*.ccscc      # Used for versioning
*.cache

/.vs
/packages
/bin
/obj
/pkgobj
/pkg

#------------------------------------
# IDEs and editors

/.idea
/.classpath
/.c9
*.launch
*.sublime-workspace

/.vscode
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

#------------------------------------
# misc

/.DS_Store
/Thumbs.db
/.sass-cache
/.cache
